$base_color: #F72E61;
@font-face {
    font-family: SF-Pro;
    src: url("../fonts/SF-Pro-Display-Bold.otf") format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: SF-Pro;
    src: url("../fonts/SF-Pro-Display-Heavy.otf") format("opentype");
    font-weight: 900;
}
@font-face {
    font-family: SF-Pro;
    src: url("../fonts/SF-Pro-Display-Medium.otf") format("opentype");
    font-weight: normal;
}
@font-face {
    font-family: "UTM Avo Italic";
    src: url("../fonts/UTM-AvoItalic.ttf") format("opentype");
}


.c-ticket {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    img {
        display: inline-block;
        vertical-align: bottom;
        max-width: 100%;
        height: auto;
    }

    .uppercase {
        text-transform: uppercase;
    }

    margin-left: auto;
    margin-right: auto;

    display: flex;
    background: $base_color;
    width: 98%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 7px 0 rgba($base_color, .6);
    color: #fff;
    font-family: SF-Pro, sans-serif;

    &--left {
        text-align: center;
        font-family: "SF-Pro", sans-serif;
        font-size: 12px;
        font-weight: bold;
        border-right: 2px dashed #f1645e;
        color: #000;
        white-space: nowrap;
        max-width: 33px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;

        @media (min-width: 768px) {
            padding: 10px;
        }

        span {
            color: #fff;
            display: inline-block;
            padding-left: 5px;
        }

        p {
            transform: rotate(-90deg);
        }
    }

    &__body {
        flex: 1;
        padding: 10px;
        @media (min-width: 768px) {
            padding: 20px;
        }

        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;

            span {
                font-family: "UTM Avo Italic", sans-serif;
                font-style: italic;
                font-size: 14px;

                @media (min-width: 768px) {
                    font-size: 16px;
                }
            }
        }
    }

    &__name {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    &__info {
        font-weight: bold;
        font-size: 10px;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        strong {
            display: block;
            color: #000;
            font-size: 9px;
        }
    }

    &--right {
        width: 26%;
        max-width: 134px;
        position: relative;
        border-left: 2px dashed #f1645e;
        text-align: center;
        padding: 15px 8px;

        @media (min-width: 768px) {
            padding: 20px 20px 10px 20px;
        }

        &:before {
            top: -12.5px;
        }

        &:after {
            bottom: -12.5px;
        }

        &:before, &:after {
            border-radius: 50%;
            content: '';
            background: #fff;
            width: 25px;
            height: 25px;
            position: absolute;
            left: -12.5px;
        }
    }

    &__code {
        font-size: 9px;
        font-weight: bold;
        color: #000;
        margin-bottom: 5px;

        span {
            display: block;
            color: #fff;
            font-size: 8px;
            margin-top: 2px;
            word-break: break-all;
        }
    }

    &__qrcode {
        margin-bottom: 5px;
        image-rendering: pixelated;
    }
}